.header {
    width: 100%;
    text-align: center;
    color: rgb(200, 200, 200);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    border: 2px solid #edf1ea;
    border-radius: 20px;
    position: fixed;
    background-color: rgb(75, 10, 23);
    max-width: 700px;

}

.header__button {
    float: right;
    padding: 10px 40px;
    cursor: pointer;
    width: 57px;
    height: 36px;
    border: none;
}

.header__button--pl {
    background: url(../images/PL-EN.png) no-repeat;
}

.header__button--en {
    background: url(../images/EN-PL.png) no-repeat;
}

.header__link {
    color: rgb(173, 227, 236);
    text-decoration: none;
}

.header__link:hover {
    color: rgb(136, 37, 12);
    border-bottom: 1px solid;
    outline: none;
}

.header__navigationItem {
    list-style-type: none;
    display: inline;
    line-height: 2;
    margin: 25px 10px;
}

.header__navigationLink {
    font-size: 25px;
    background-color: rgb(73, 18, 18);
    color: rgb(200, 200, 200);
    border: 2px solid #edf1ea;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    box-shadow: 4px 2px 8px #e8eee9;
}

.header__navigationLink:hover {
    background-color: rgb(124, 30, 30);
}

.hide {
    display: none;
}