.navigation {
    font-size: 25px;
}

.navigation__item {
    list-style-type: none;
    display: inline;
    line-height: 2;
    margin: 25px 10px;
}

.navigation__link {
    background-color: rgb(73, 18, 18);
    color: rgb(200, 200, 200);
    border: 2px solid #edf1ea;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    box-shadow: 4px 2px 8px #e8eee9;
}

.navigation__link:hover {
    background-color: rgb(124, 30, 30);
}

.hide {
    display: none;
}