html {
    box-sizing: border-box;
}

*, ::after ::before {
    box-sizing: inherit;
}

.body {
    background-color: black;
    max-width: 700px;
    margin: auto auto;
    text-align: justify;
    max-width: 700px;
    margin: auto auto;
    color: rgb(200, 200, 200);
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

.hide {
    display: none;
}