/* .vCard {
    padding-top: 200px;
} */

.vCard__myPicture {
    float: left;
}

.vCard__title {
    line-height: 1.2;
}

.vCard__title--name {
    font-size: 55px;
}

.vCard__title--profession {
    font-size: 30px;
}

.vCard__title--comment {
    font-size: 15px;
}